<div class="next-activity-card mat-elevation-z6 overflow-hidden" *ngFor="let activity of activities">
  <div class="activity-container">
    <div class="activity-image">
      <img [src]="activity.image" [alt]="activity.title" />
    </div>
    <div class="activity-content">
      <div class="row mx-0">
        <div class="col activity-title">
          <h3>
            {{ activity.title }}
            <mat-icon>chevron_right</mat-icon>
          </h3>
        </div>
      </div>
      <div class="row mx-0 my-3">
        <div class="col">
          <div class="activity-date">{{ activity.date | date: 'longDate' }}</div>
          <strong>{{ activity.timeStart }}</strong>
          <span class="mat-caption text-muted ms-2">{{ activity.timeEnd }}</span>
        </div>
        <div class="col text-muted">
          <mat-icon>schedule</mat-icon>
          {{ activity.duration }} min.
        </div>
      </div>
      <div class="row mx-0 my-3">
        <div class="col-12 col-md-6 d-flex justify-content-center">
          <span class="warn-text mat-caption">{{ activity.peopleBefore }} persone prima di te</span>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center">
          <button mat-stroked-button class="button-highlight" color="blue" (click)="cancel.emit(activity.id)">
            Annulla
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
